body{
  font-family: 'Caveat', cursive;
  font-weight: bold;
  background-color: #444;
  color: #fff;
}
/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.group{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.menu #menu-flters {
  background-color: #252424 ;
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  border-radius: 50px;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(139, 131, 131, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(92, 75, 75, 0.5);
}

.menu #menu-flters li {
  cursor: pointer;
  display: inline;
  position: relative;
  padding: 8px 16px 10px 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #ffffff;
  /* margin: 0 3px 10px 3px; */
  transition: all ease-in-out 0.3s;
  background: #252424 ;
  /* border: 2px solid #ffb03b; */
  /* border-radius: 50px; */
}

.menu #menu-flters li:hover, .menu #menu-flters li.filter-active {
  color: #fff;
  background: #6b6862;
}

.menu #menu-flters li:last-child {
  margin-right: 0;
}

.menu .menu-content {
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......";
  position: absolute;
  left: 10px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  background:  #252424;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #fff;
}

.menu .menu-content span {
  background:  #252424;
  position: relative;
  z-index: 3;
  padding: 0 40px;
  font-weight: 600;
}

.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  color: #948c81;
}
#scrollLeft {
  cursor: pointer;
  position: absolute;
  left: -15px;
  color: #fff;
  font-size: 30px;
}
#scrollRight {
  cursor: pointer;
  position: absolute;
  right: -15px;
  color: #fff;
  font-size: 30px;
  margin-top: -40px;
}
@media only screen and (max-width: 600px) {
  #scrollRight ,#scrollLeft {
    display: none;
  }
}
.gg{
  position: relative;
}
